drop-down {
  margin: 8px;
  display: inline-block;

  > .container {
    position: relative;

    > .button {
      display: inline-block;
      border: 1px solid #cccccc;
      padding: 6px 12px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
      background: #eeeeee;
      cursor: pointer;

      & > .selected-item-container {
        display: inline-block;
      }

      &::after {
        content: '▾';
        display: inline-block;
        color: black;
        position: relative;
      }

      &.open::after {
        top: 2px;
        transform: rotate(180deg);
      }
    }

    > .options-container {
      position: relative;

      > .options {
        position: absolute;
        top: 0px;
        border: 1px solid #cccccc;
        border-top: 0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        background: #eeeeee;
        z-index: 10000;

        > li {
          cursor: pointer;
          padding: 6px 12px;

          &:hover {
            background: #f6f6f6;
          }
        }
      }
    }
  }
}
